[Desktop Entry]
Type=Application
Name=Strata
Comment=Personal knowledge system
Exec=strata
Icon=com.shawket.strata
Terminal=false
Categories=Office;Utility;
StartupWMClass=com.shawket.strata
